<div class="w-50 m-auto">
<h3 class="text-center mt-2 fw-lighter">Registartion Form</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-2 p-1">
  <div formGroupName="personalDetails">
    <label for="firstName">FirstName</label>
    <input id="firstName" formControlName="firstName" type="text" class="form-control mt-1 placeholder bg-light text-dark" placeholder="enter first name.." />

    <label for="lastName">LastName</label>
    <input id="lastName" formControlName="lastName" type="text" class="form-control mt-1 placeholder bg-light text-dark" placeholder="enter last name.." />

    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" required class="form-control mt-1 placeholder bg-light text-dark" placeholder="enter email.."/>
    <div>
      <span *ngIf="this.form.get('personalDetails.email')?.invalid 
           && this.form.get('personalDetails.email')?.touched" class="text-danger">The email is requried
      </span>
    </div>
  </div>
  <div class="form-check form-check-inline mt-1">
    <label for="male" class="form-check-label">Male</label>
    <input name="gender" id="male"  class="form-check-input" formControlName="gender" type="radio" value="male" />
  </div>
 <div class="form-check form-check-inline mt-1">
  <label for="female" class="form-check-label">Female</label>
  <input name="gender" id="female" formControlName="gender" type="radio" value="female" class="form-check-input" />
 </div>
  <div formArrayName="skillSet">
    <label>Skills</label>
    <div class="input-group" *ngFor="let skill of skillSet.controls ;index as i">
      <input type="text" formControlName='{{i}}' placeholder="skills.." class="form-control mt-1 placeholder bg-light text-dark">
      <span (click)="deleteFormControl(i)" type="button" class="input-group-text mt-1">X</span>
    </div>
  </div>
  <button (click)="AddSkill()" type="button" class="btn btn-secondary btn-sm mt-2">Add skill</button>
  <button type="submit" class="btn btn-primary form-control mt-2" [disabled]="form.invalid">Submit</button>
  <button type="button" class="btn btn btn-warning form-control mt-2" (click)="form.reset({gender:'male'});submitted=false">Reset</button>
</form>

<div *ngIf="submitted && form.valid">
  <div class="text-success">
    <p>FirstName is {{personalDetails?.value?.firstName}}</p>
    <p>lastName is {{personalDetails?.value?.lastName}}</p>
    <p>email is {{personalDetails?.value?.email}}</p>
    <p>Gender is {{form?.value?.gender}}</p>
    <p>Skills is/are {{skillSet?.value}}</p>
  </div>
<div>
</div>

